* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    position: relative;
}

body {
    height: 100svh;
    width: 100svw;
    color: #495057;
}

:root {
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #ff7a57;
}

.container {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: white;
    position: fixed;
    z-index: 1000;
    top: 0;
box-shadow: 0 3px 10px var(--gray);
}


nav img {
    object-fit: cover;
    max-width: 100px;
    height: auto;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--gray-dark);
    opacity: 0.8;
    font-weight: bold;
}

nav ul li a:hover {
    opacity: 1;
}

nav ul li button {
    background-color: var(--primary);
    opacity: 0.8;
    border: none;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

nav ul li button :hover {
    opacity: 1;
    color: white;
    cursor: pointer;
}


.hero {
    background-image: url(./cartoon\ man.svg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: var(--gray-dark);
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
    position: relative;
}

.hero-content {
    max-width: 600px;
    padding: 30px;
    text-align: left;

}

.hero h3 {
    font-size: 24px;
    opacity: 0.8;
}

.hero h2 {
    font-size: 48px;
}

.hero p {
    font-size: 24px;
}

.buttons {
    margin-top: 20px;
}

.buttons a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.hire-me {
    background-color: var(--primary);
    opacity: 0.8;
}

.download-cv {
    background-color: var(--gray-dark);
    opacity: 0.8;
}

.hire-me:hover,
.download-cv:hover {
    opacity: 1;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    text-decoration: none;
    color: var(--gray-dark);
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: var(--primary);
}

.stats {
    height: 90px;
    display: flex;
    background-color: white;
    color: var(--gray-dark);
    padding: 20px;
    box-shadow: 0 0 10px 5px var(--gray);
    border-radius: 50px;
    align-items: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.stat-item {
    margin: 0 30px;
    text-align: center;
    padding: 0 60px;
}

.stat-item h2 {
    font-size: 24px;
}

.stat-item p {
    font-size: 18px;
}

.stat-item:not(:last-child) {
    position: relative;
}

.stat-item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
    background-color: #000;
}

.section-title {
    color: var(--gray-dark);
    font-size: 36px;
    margin-bottom: 5px;
    text-align: center;
}

.subtitle {
    color: var(--gray);
    font-size: 18px;
    margin-bottom: 12px;
    text-align: center;
}

.paragraph {
    color: var(--gray);
    margin-bottom: 12px;
    letter-spacing: 0.6px;
    text-align: center;
    padding-top: 12px;
}

/* About Section */
#about {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin: 20px;
    padding: 5rem 0;
}

#about img {
    max-width: 100%;
    height: auto;
}

.img-container {
    display: flex;
    justify-content: center;
    border: 1px solid #dee2e6;
    border-radius: 0.25em;
    padding: 0.25rem;
    background-color: #fff;
    height: 300px;
    width: auto;
}

.about-content {
    flex: 1;
}

@media (max-width: 768px) {
    #about {
        flex-direction: column;
    }

    .img-container,
    .about-content {
        width: 100%;
    }

    .img-container {
        order: -1;
    }
}



#about button {
    background-color: var(--primary);
    opacity: 0.8;
    border: none;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 1rem;
}

#about button:hover {
    opacity: 1;
    cursor: pointer;
}

/* Service Section */
#service {
    margin: 20px;
    padding: 5rem 0;
}

.service-container,
.skills-container {
    text-align: center;
}


.service-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px 0;
    margin-top: 20px;
}

.card {
    height: 250px;
    width: 200px;
    background-color: white;
    border: 0.5px solid rgb(185, 185, 185);
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.card:hover {
    background-color: var(--primary);
}

.card:hover i,
.card:hover h5 {
    color: white;
}

.card i {
    font-size: 36px;
    color: var(--primary);
    margin-bottom: 10px;
}


.card h5 {
    font-size: 18px;
    margin-top: 10px;
}


.card-body {
    padding: 55px 0;
    text-align: center;
}

#skills {
    position: relative;
    margin: 20px;
    padding: 5rem 0;
}

.skills-bars {
    text-align: left;
    font-size: 18px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill-bar {
    flex: 0 48%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

}

.line {
    width: 70%;
    height: 3px;
    /* Adjust the height of the line */
    background-color: rgb(185, 185, 185);
    /* Color for the second part of the line */
    position: relative;
    margin-bottom: 20px;
    /* Spacing between each line */
}

.line-part {
    height: 100%;
    background-color: var(--primary);
    /* Color for the first part of the line */
    position: absolute;
    left: 0;
}
#portfolio {
    margin: 20px;
    padding: 5rem 0;
}


.project-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project {
    position: relative;
    width: 400px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
}

.project img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
object-fit: cover;
}

.project .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
background-color: var(--primary);
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    transition: opacity 0.3s ease;
    border-radius: 5px;

}

.project .overlay h3 {
    margin-bottom: 10px;
    font-size: 24px;
}

.project .overlay .icons {
    display: flex;
    gap: 20px;
}

.project .overlay .icons i {
    font-size: 20px;
    cursor: pointer;
}


.project:hover .overlay {
    opacity: 0.7;
}